<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= flash[:notice] %>

    <h1>Candidates List</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>Party</td>
            <td>Age</td>
            <!-- <td>Politics</td> -->
            <td>Action</td>
        </tr>
        <% @candidates.each do |candidate| %>
        <tr>
            <td><%= link_to candidate.name, candidate_path(candidate.id) %></td>
            <td><%= candidate.party %></td>
            <td><%= candidate.age %></td>
            <!-- <td><%= candidate.politics %></td> -->
            <td>Action</td>
        </tr>
        <% end %>
    </table>
    <a href="/candidates/new">Add Candidates</a>
</body>
</html>